.button{

}
#player1StackPane, #player2StackPane{
    -fx-background-color: black;
}

.label{
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.highlight{
    -fx-background-color: lightblue;
}

.check{
    -fx-background-color: red;
}

.last{
    -fx-background-color: orange;
}